<template>
  <div id="sidebar">
    <ul>
      <li v-for="link in links" :key="link.id">
        <router-link v-if="link.isVueComponent" class="sidebar-link" :to="link.path">{{ link.name }}</router-link>
        <a v-else class="sidebar-link" @click.prevent="loadPage(link)">{{ link.name }}</a>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'SideBar',
  data() {
    return {
      links: [
        // { name: 'Hello Component', path: '/hello', isVueComponent: true },
        { name: 'Number List', path: '/number-list', isVueComponent: true },
        // { name: 'Your HTML File', path: '/FSh@kNX8vQ23.html', isVueComponent: false },
        // { name: 'Add more html', path: '/AddMoreHTML.html', isVueComponent: false },
        // { name: 'GIT remote push', path: '/PULthi1wBmf.html', isVueComponent: false },
        // { name: 'Bitbucket to Github', path: '/Sun91024923Close.html', isVueComponent: false },
        // { name: 'Git Rollback from Bad Commit', path: '/Sun81101597Close.html', isVueComponent: false },
        { name: 'two guitarists prompt01', path: '/Sun46134717Close.html', isVueComponent: false },
        { name: 'prompts 01', path: '/Sun5532663Close.html' , isVueComponent: false },
        { name: 'Guitar Practice Schedule Prompt01', path: '/Sun9446934Close.html' , isVueComponent: false },
        { name: 'Daily Practice Schedule', path: '/Sun10808851Close.html' , isVueComponent: false },
        { name: 'Breakthrough realization 01', path: '/Sun90109750Close.html' , isVueComponent: false },
        { name: 'Yugabyte nodejs', path: '/Sun76147235Close.html' , isVueComponent: false },
        { name: 'outOfBox Prompt', path: '/outBoxPrompt.html' , isVueComponent: false },
        { name: 'iconsCopy01', path: '/iconsCopy.html' , isVueComponent: false },
        { name: 'Guitarist Day World', path: '/promptGuitarist.html' , isVueComponent: false },
        { name: 'Eminor Pentatonic Guide', path: '/EminorScaleHelper.html' , isVueComponent: false },
        // Add more links here as needed
      ]
    }
  },
  methods: {
    async loadPage(link) {
      if (link.isVueComponent) {
        this.$router.push(link.path);
      } else {
        const response = await axios.get(link.path);
        if (link.name === 'GIT remote push') {
          this.$router.push({ name: 'PULthi1wBmf', params: { htmlContent: response.data } });
        } else
          if (link.name === 'Bitbucket to Github') {
            this.$router.push({ name: 'Sun91024923Close', params: { htmlContent: response.data } });
          } else
            if (link.name === 'Git Rollback from Bad Commit') {
              this.$router.push({ name: 'Sun81101597Close', params: { htmlContent: response.data } });
            } else
              if (link.name === 'two guitarists prompt01') {
                this.$router.push({ name: 'Sun46134717Close', params: { htmlContent: response.data } });
              } else
        if (link.name === 'prompts 01') {
          this.$router.push({ name: 'Sun5532663Close', params: { htmlContent: response.data } });
        } else 
        if (link.name === 'Guitar Practice Schedule Prompt01') {
          this.$router.push({ name: 'Sun9446934Close', params: { htmlContent: response.data } });
        } else 
        if (link.name === 'Daily Practice Schedule') {
          this.$router.push({ name: 'Sun10808851Close', params: { htmlContent: response.data } });
        } else 
        if (link.name === 'Breakthrough realization 01') {
          this.$router.push({ name: 'Sun90109750Close', params: { htmlContent: response.data } });
        } else 
        if (link.name === 'Yugabyte nodejs') {
          this.$router.push({ name: 'Sun76147235Close', params: { htmlContent: response.data } });
        } else 
        if (link.name === 'outOfBox Prompt') {
          this.$router.push({ name: 'outBoxPrompt', params: { htmlContent: response.data } });
        } else 
        if (link.name === 'iconsCopy01') {
          this.$router.push({ name: 'iconsCopy', params: { htmlContent: response.data } });
        } else 
        if (link.name === 'Guitarist Day World') {
          this.$router.push({ name: 'promptGuitarist', params: { htmlContent: response.data } });
        } else 
        if (link.name === 'Eminor Pentatonic Guide') {
          this.$router.push({ name: 'EminorScaleHelper', params: { htmlContent: response.data } });
        } else 
                if (link.name === 'Add more html') {
                  this.$router.push({ name: 'AddMoreHTML', params: { htmlContent: response.data } });
                } else {
                  this.$router.push({ name: 'StaticHtml', params: { htmlContent: response.data } });
                }
      }
    }

  }
}
</script>


<style scoped>
#sidebar {
  position: fixed;
  width: 200px;
  height: 100vh;
  border-right: 1px solid #ccc;
  padding-left: 0em;
  margin-right: 50px;
}

ul {
  list-style-type: none;
  /* Remove bullets */
  padding-left: 0;
  /* Remove left padding */
}

.sidebar-link {
  display: flex;
  padding: 10px 15px 10px 25px;
  color: black;
  text-decoration: none;
}

.sidebar-link:hover {
  background-color: #f1f3f3;
  cursor: pointer;

}
</style>
